@import 'assets/css/light-palette.css';
@import 'assets/css/dark-palette.css';

:root {
    /* default (light) colors */
    /* color-scheme: light;*/
    --primary: var(--m3-sys-light-primary); 
    --on-primary: var(--m3-sys-light-on-primary); 
    --primary-container: var(--m3-sys-light-primary-container); 
    --on-primary-container: var(--m3-sys-light-on-primary-container); 
    --primary-fixed: var(--m3-sys-light-primary-fixed); 
    --on-primary-fixed: var(--m3-sys-light-on-primary-fixed); 
    --primary-fixed-dim: var(--m3-sys-light-primary-fixed-dim); 
    --on-primary-fixed-variant: var(--m3-sys-light-on-primary-fixed-variant);

    --secondary: var(--m3-sys-light-secondary); 
    --on-secondary: var(--m3-sys-light-on-secondary); 
    --secondary-container: var(--m3-sys-light-secondary-container); 
    --on-secondary-container: var(--m3-sys-light-on-secondary-container); 
    --secondary-fixed: var(--m3-sys-light-secondary-fixed); 
    --on-secondary-fixed: var(--m3-sys-light-on-secondary-fixed); 
    --secondary-fixed-dim: var(--m3-sys-light-secondary-fixed-dim); 
    --on-secondary-fixed-variant: var(--m3-sys-light-on-secondary-fixed-variant);

    --tertiary: var(--m3-sys-light-tertiary); 
    --on-tertiary: var(--m3-sys-light-on-tertiary); 
    --tertiary-container: var(--m3-sys-light-tertiary-container); 
    --on-tertiary-container: var(--m3-sys-light-on-tertiary-container); 
    --tertiary-fixed: var(--m3-sys-light-tertiary-fixed); 
    --on-tertiary-fixed: var(--m3-sys-light-on-tertiary-fixed); 
    --tertiary-fixed-dim: var(--m3-sys-light-tertiary-fixed-dim); 
    --on-tertiary-fixed-variant: var(--m3-sys-light-on-tertiary-fixed-variant); 

    --error: var(--m3-sys-light-error); 
    --on-error: var(--m3-sys-light-on-error); 
    --error-container: var(--m3-sys-light-error-container); 
    --on-error-container: var(--m3-sys-light-on-error-container);

    --outline: var(--m3-sys-light-outline); 

    --background: var(--m3-sys-light-background); 
    --on-background: var(--m3-sys-light-on-background); 

    --surface: var(--m3-sys-light-surface); 
    --on-surface: var(--m3-sys-light-on-surface); 
    --surface-variant: var(--m3-sys-light-surface-variant); 
    --on-surface-variant: var(--m3-sys-light-on-surface-variant); 
    --inverse-surface: var(--m3-sys-light-inverse-surface); 
    --inverse-on-surface: var(--m3-sys-light-inverse-on-surface); 
    --inverse-primary: var(--m3-sys-light-inverse-primary); 

    --shadow: var(--m3-sys-light-shadow); 

    --surface-tint: var(--m3-sys-light-surface-tint); 
    --outline-variant: var(--m3-sys-light-outline-variant); 
    --scrim: var(--m3-sys-light-scrim); 

    --surface-container-highest: var(--m3-sys-light-surface-container-highest); 
    --surface-container-high: var(--m3-sys-light-surface-container-high); 
    --surface-container: var(--m3-sys-light-surface-container); 
    --surface-container-low: var(--m3-sys-light-surface-container-low); 
    --surface-container-lowest: var(--m3-sys-light-surface-container-lowest); 
    --surface-bright: var(--m3-sys-light-surface-bright); 
    --surface-dim: var(--m3-sys-light-surface-dim);
    /*
    --sgbus-green: #7eed47ff;
    --asparagus: #669647ff;
    --jet: #323335ff;
    --honeydew: #E4F3E6ff;
    --snow: #f7f0f0ff;
    --sunglow: #ffc857ff;
    /* accent options */
    /*
    --lavender: #d8e4ffff;
    --non-photo-blue: #A3E7FCff;
    --maya-blue: #78C3FBff;
    --chefchaouen-blue: #5386E4ff;
    --periwinkle: #B4ADEAff;
    */
}

@media (prefers-color-scheme: dark){
    :root {
        /* color-scheme: dark; */
        --primary: var(--m3-sys-dark-primary); 
        --on-primary: var(--m3-sys-dark-on-primary); 
        --primary-container: var(--m3-sys-dark-primary-container); 
        --on-primary-container: var(--m3-sys-dark-on-primary-container); 
        --primary-fixed: var(--m3-sys-dark-primary-fixed); 
        --on-primary-fixed: var(--m3-sys-dark-on-primary-fixed); 
        --primary-fixed-dim: var(--m3-sys-dark-primary-fixed-dim); 
        --on-primary-fixed-variant: var(--m3-sys-dark-on-primary-fixed-variant);

        --secondary: var(--m3-sys-dark-secondary); 
        --on-secondary: var(--m3-sys-dark-on-secondary); 
        --secondary-container: var(--m3-sys-dark-secondary-container); 
        --on-secondary-container: var(--m3-sys-dark-on-secondary-container); 
        --secondary-fixed: var(--m3-sys-dark-secondary-fixed); 
        --on-secondary-fixed: var(--m3-sys-dark-on-secondary-fixed); 
        --secondary-fixed-dim: var(--m3-sys-dark-secondary-fixed-dim); 
        --on-secondary-fixed-variant: var(--m3-sys-dark-on-secondary-fixed-variant);

        --tertiary: var(--m3-sys-dark-tertiary); 
        --on-tertiary: var(--m3-sys-dark-on-tertiary); 
        --tertiary-container: var(--m3-sys-dark-tertiary-container); 
        --on-tertiary-container: var(--m3-sys-dark-on-tertiary-container); 
        --tertiary-fixed: var(--m3-sys-dark-tertiary-fixed); 
        --on-tertiary-fixed: var(--m3-sys-dark-on-tertiary-fixed); 
        --tertiary-fixed-dim: var(--m3-sys-dark-tertiary-fixed-dim); 
        --on-tertiary-fixed-variant: var(--m3-sys-dark-on-tertiary-fixed-variant); 

        --error: var(--m3-sys-dark-error); 
        --on-error: var(--m3-sys-dark-on-error); 
        --error-container: var(--m3-sys-dark-error-container); 
        --on-error-container: var(--m3-sys-dark-on-error-container); 
        --outline: var(--m3-sys-dark-outline); 

        --background: var(--m3-sys-dark-background); 
        --on-background: var(--m3-sys-dark-on-background); 

        --surface: var(--m3-sys-dark-surface); 
        --on-surface: var(--m3-sys-dark-on-surface); 
        --surface-variant: var(--m3-sys-dark-surface-variant); 
        --on-surface-variant: var(--m3-sys-dark-on-surface-variant); 
        --inverse-surface: var(--m3-sys-dark-inverse-surface); 
        --inverse-on-surface: var(--m3-sys-dark-inverse-on-surface); 
        --inverse-primary: var(--m3-sys-dark-inverse-primary); 

        --shadow: var(--m3-sys-dark-shadow); 

        --surface-tint: var(--m3-sys-dark-surface-tint); 
        --outline-variant: var(--m3-sys-dark-outline-variant); 
        --scrim: var(--m3-sys-dark-scrim); 
        
        --surface-container-highest: var(--m3-sys-dark-surface-container-highest); 
        --surface-container-high: var(--m3-sys-dark-surface-container-high); 
        --surface-container: var(--m3-sys-dark-surface-container); 
        --surface-container-low: var(--m3-sys-dark-surface-container-low); 
        --surface-container-lowest: var(--m3-sys-dark-surface-container-lowest); 
        --surface-bright: var(--m3-sys-dark-surface-bright); 
        --surface-dim: var(--m3-sys-dark-surface-dim);
    }
}