:root {
    --sgbus-green: #7eed47ff;
    --asparagus: #669647ff;
    --jet: #323335ff;
    --honeydew: #E4F3E6ff;
    --snow: #f7f0f0ff;
    --sunglow: #ffc857ff;
    /* accent options */
    --lavender: #d8e4ffff;
    --non-photo-blue: #A3E7FCff;
    --maya-blue: #78C3FBff;
    --chefchaouen-blue: #5386E4ff;
    --periwinkle: #B4ADEAff;
}  