:root {
    --m3-sys-dark-primary: #aad291; 
    --m3-sys-dark-on-primary: #173807; 
    --m3-sys-dark-primary-container: #2d4f1c; 
    --m3-sys-dark-on-primary-container: #c5efab; 
    --m3-sys-dark-primary-fixed: #c5efab; 
    --m3-sys-dark-on-primary-fixed: #072100; 
    --m3-sys-dark-primary-fixed-dim: #aad291; 
    --m3-sys-dark-on-primary-fixed-variant: #2d4f1c; 
    --m3-sys-dark-secondary: #abd28f; 
    --m3-sys-dark-on-secondary: #193706; 
    --m3-sys-dark-secondary-container: #2f4f1b; 
    --m3-sys-dark-on-secondary-container: #c7eea9; 
    --m3-sys-dark-secondary-fixed: #c7eea9; 
    --m3-sys-dark-on-secondary-fixed: #092100; 
    --m3-sys-dark-secondary-fixed-dim: #abd28f; 
    --m3-sys-dark-on-secondary-fixed-variant: #2f4f1b; 
    --m3-sys-dark-tertiary: #9ccbfb; 
    --m3-sys-dark-on-tertiary: #003354; 
    --m3-sys-dark-tertiary-container: #104a73; 
    --m3-sys-dark-on-tertiary-container: #cee5ff; 
    --m3-sys-dark-tertiary-fixed: #cee5ff; 
    --m3-sys-dark-on-tertiary-fixed: #001d33; 
    --m3-sys-dark-tertiary-fixed-dim: #9ccbfb; 
    --m3-sys-dark-on-tertiary-fixed-variant: #104a73; 
    --m3-sys-dark-error: #ecc06c; 
    --m3-sys-dark-on-error: #412d00; 
    --m3-sys-dark-error-container: #5d4200; 
    --m3-sys-dark-on-error-container: #ffdea4; 
    --m3-sys-dark-outline: #8d9286; 
    --m3-sys-dark-background: #11140e; 
    --m3-sys-dark-on-background: #e1e4d9; 
    --m3-sys-dark-surface: #11140e; 
    --m3-sys-dark-on-surface: #e1e4d9; 
    --m3-sys-dark-surface-variant: #43483e; 
    --m3-sys-dark-on-surface-variant: #c3c8bb; 
    --m3-sys-dark-inverse-surface: #e1e4d9; 
    --m3-sys-dark-inverse-on-surface: #2e312b; 
    --m3-sys-dark-inverse-primary: #446732; 
    --m3-sys-dark-shadow: #c7eea9; 
    --m3-sys-dark-surface-tint: #aad291; 
    --m3-sys-dark-outline-variant: #43483e; 
    --m3-sys-dark-scrim: #000000; 
    --m3-sys-dark-surface-container-highest: #32362f; 
    --m3-sys-dark-surface-container-high: #282b24; 
    --m3-sys-dark-surface-container: #1d211a; 
    --m3-sys-dark-surface-container-low: #191d16; 
    --m3-sys-dark-surface-container-lowest: #0c0f09; 
    --m3-sys-dark-surface-bright: #373a33; 
    --m3-sys-dark-surface-dim: #11140e; 
}