:root {
    --brand-primary: #7EDD47;
    --brand-secondary: #323335;
    --m3-sys-light-primary: #446732; 
    --m3-sys-light-on-primary: #ffffff; 
    --m3-sys-light-primary-container: #c5efab; 
    --m3-sys-light-on-primary-container: #072100; 
    --m3-sys-light-primary-fixed: #c5efab; 
    --m3-sys-light-on-primary-fixed: #072100; 
    --m3-sys-light-primary-fixed-dim: #aad291; 
    --m3-sys-light-on-primary-fixed-variant: #2d4f1c; 
    --m3-sys-light-secondary: #466730; 
    --m3-sys-light-on-secondary: #ffffff; 
    --m3-sys-light-secondary-container: #c7eea9; 
    --m3-sys-light-on-secondary-container: #092100; 
    --m3-sys-light-secondary-fixed: #c7eea9; 
    --m3-sys-light-on-secondary-fixed: #092100; 
    --m3-sys-light-secondary-fixed-dim: #abd28f; 
    --m3-sys-light-on-secondary-fixed-variant: #2f4f1b; 
    --m3-sys-light-tertiary: #30628c; 
    --m3-sys-light-on-tertiary: #ffffff; 
    --m3-sys-light-tertiary-container: #cee5ff; 
    --m3-sys-light-on-tertiary-container: #001d33; 
    --m3-sys-light-tertiary-fixed: #cee5ff; 
    --m3-sys-light-on-tertiary-fixed: #001d33; 
    --m3-sys-light-tertiary-fixed-dim: #9ccbfb; 
    --m3-sys-light-on-tertiary-fixed-variant: #104a73; 
    --m3-sys-light-error: #79590c; 
    --m3-sys-light-on-error: #ffffff; 
    --m3-sys-light-error-container: #ffdea4; 
    --m3-sys-light-on-error-container: #261900; 
    --m3-sys-light-outline: #74796d; 
    --m3-sys-light-background: #f8faf0; 
    --m3-sys-light-on-background: #191d16; 
    --m3-sys-light-surface: #f8faf0; 
    --m3-sys-light-on-surface: #191d16; 
    --m3-sys-light-surface-variant: #e0e4d6; 
    --m3-sys-light-on-surface-variant: #43483e; 
    --m3-sys-light-inverse-surface: #2e312b; 
    --m3-sys-light-inverse-on-surface: #f0f2e7; 
    --m3-sys-light-inverse-primary: #aad291; 
    --m3-sys-light-shadow: #000000; 
    --m3-sys-light-surface-tint: #446732; 
    --m3-sys-light-outline-variant: #c3c8bb; 
    --m3-sys-light-scrim: #000000; 
    --m3-sys-light-surface-container-highest: #e1e4d9; 
    --m3-sys-light-surface-container-high: #e7e9df; 
    --m3-sys-light-surface-container: #edefe5; 
    --m3-sys-light-surface-container-low: #f2f5ea; 
    --m3-sys-light-surface-container-lowest: #ffffff; 
    --m3-sys-light-surface-bright: #f8faf0; 
    --m3-sys-light-surface-dim: #d9dbd1;
}
